
.App {
  text-align: center;

}
.header{
  padding-top: 70px;
}
.content{
  display: flex;
}
.content .members{
  width: 30%;
  flex-wrap: wrap;
}
/* .header{
  background-color: #DDD;
}
.header .avatar{
  margin-top: 150px;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 3px solid #20204d;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* 
.header img {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body{
  background-color: #DDD;
} */